@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styling Code Here */

.active {
  @apply bg-transparent hover:bg-transparent border-b-2 border-[#4FBF9F] font-semibold text-red-600 hover:text-[#4FBF9F] transition duration-300 text-lg;
}
.default {
  @apply bg-transparent hover:bg-transparent text-gray-800 hover:text-[#4FBF9F] transition duration-300 text-lg;
}

